<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    RewriteCond %{REQUEST_URI} ^/.well-known/assetlinks\.json$ [NC]
    <Files "assetlinks.json">
        Header set Content-Type "application/json"
        Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
        Header set Pragma "no-cache"
        Header set Expires 0
    </Files>

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

# <IfModule mod_headers.c>
#     <FilesMatch "assetlinks.json">
#         Header set Content-Type "application/json"
#         Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
#         Header set Pragma "no-cache"
#         Header set Expires 0
#     </FilesMatch>
# </IfModule>
